 <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
		Designed by  <a href="#"> JONAS C </a>  &nbsp; <b>Version</b> 1.0.0
      </div>
      <strong>Copyright &copy; 2017 <a href="#"> JONAS C </a>.</strong> All rights reserved.
    </div>
    <!-- /.container -->
 </footer>
