<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
  
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class=""><a href="index.php">Home <span class="sr-only">(current)</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
            <li class="divider"></li>
            <li class=""><a href="add_user.php"><span style="color:white;"></span>Add User<span class="sr-only">(current)</span></a></li>
            <li class="divider"></li>
            <li class=""><a href="db_tables.php"><span style="color:white;"></span>Db Tables<span class="sr-only">(current)</span></a></li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">*</span>
            </a>
          </li>
          
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="images/co.png" class="user-image" alt="User Image">
            </a>
          </li>

        </ul>
      </div>
      <!-- /.navbar-custom-menu -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>